<%= simple_form_for @revision, as: :revision, url: [@page, @revision], remote: true, html: {class: 'form-with-helpers js-spin-and-roll'} do |f| %>
  <header class='header-main'>
    <%= link_to_back %>
    <ul class='nav'>
      <%= revision_action_list(self, @revision) %>
    </ul>
    <div class="header-actions">
      <%= button_to_save %>
    </div>
  </header>
  <section class="body-main">
    <%= f.simple_fields_for @revision.content do |c| %>
      <%= render partial: 'georgia/revisions/fields/content', locals: {f: c, locale: c.object.locale, slug: @page.slug, revision_form: f} %>
    <% end -%>

    <fieldset>
      <div class="fieldset-help">
        <legend>Template</legend>
      </div>
      <%= f.input :template, collection: Georgia.templates, label: false %>
    </fieldset>

    <%= render partial: 'georgia/revisions/fields/slides', locals: {f: f} %>
    <%= render partial: 'georgia/revisions/fields/widgets', locals: {f: f} %>
  </section>
  <footer>
    <hr />
    <%= link_to_delete [@page, @revision] %>
  </footer>
<% end %>

<%= content_for :footer do %>
  <%= render 'georgia/shared/modals/media_library' %>
<% end -%>