<header class='header-main'>
  <div class="row">
    <div class="col-md-2">
      <%= link_to_back search_pages_path %>
    </div>
    <div class="col-md-7">
      <h1 class='header-title'><%= @page.title %></h1>
    </div>
    <div class="col-md-3">
      <div class="header-actions">
        <%= page_actions_tag(@page, @revision) %>
      </div>
    </div>
  </div>
</header>
<section class="body-main">
  <div class="revisions">
    <% if @revisions and @revisions.any? %>
      <%= render @revisions %>
    <% else -%>
      <h3>There are no past revisions for this page yet. <%= link_to 'Go Back', @page %></h3>
    <% end -%>
  </div>
</section>