<%= content_for :messages do %>
<%= render 'georgia/shared/messages', model: @page %>
<% end %>

<h1 class="page-header">
  <%= @page.status_tag(class: 'label-big') %>
  <%= @page.title %> <small><%= @page.url %></small>
</h1>

<div id='edit_page_panel'>
  <div class="row-fluid">
    <div class="span2">
      <div class="well">
        <ul class="nav nav-list">
          <li class="nav-header">Actions</li>
          <%= Georgia::EditMetaPageActionList.new(self, @page).render %>
        </ul>
      </div>
    </div>
    <div class="span10">
      <div class="row-fluid">
        <div class="span4">
          <h3 class='page-header'>Drafts</h3>
          <% if @page.drafts.any? %>
            <% @page.drafts.find_each do |draft| %>
              <h5>
                <%= link_to 'edit', [:edit, @page.model, draft], class: 'pull-right' %>
                <span class="muted">#<%= draft.id %></span>
                <%= draft.title %> - <small>updated <%= time_ago_in_words draft.updated_at %> ago</small>
              </h5>
            <% end -%>
          <% else -%>
            <h5 class='muted'>There are no drafts so far. <%= link_to 'Start one', [:draft, @page.model] %></h5>
          <% end -%>
          <%= link_to 'Start a new draft', [:draft, @page.model] %>
        </div>
        <div class="span4">
          <h3 class='page-header'>In Review</h3>
          <% if @page.reviews.any? %>
            <% @page.reviews.find_each do |review| %>
            <h5>
              <%= link_to 'edit', [:edit, @page.model, review], class: 'pull-right' %>
              <span class="muted">#<%= review.id %></span>
              <%= review.title %> - <small>updated <%= time_ago_in_words review.updated_at %> ago</small>
            </h5>
            <% end -%>
          <% else -%>
            <h5 class='muted'>There is nothing to review at the moment.</h5>
          <% end -%>
        </div>
        <div class="span4">
          <h3 class='page-header'>Revisions</h3>
          <% if @page.revisions.any? %>
            <% @page.revisions.find_each do |revision| %>
            <h5>
              <%= link_to 'preview', revision.preview_url, class: 'pull-right' %>
              <span class="muted">#<%= revision.id %></span>
              <%= revision.title %> - <small>stored <%= time_ago_in_words revision.updated_at %> ago</small>
            </h5>
            <% end -%>
          <% else -%>
            <h5 class='muted'>There are no revisions yet.</h5>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>