<fieldset>
  <div class="fieldset-help">
    <legend>Content</legend>
    <%= link_to_available_locales %>
  </div>
  <div class="fieldset-fields">
    <%= f.input :text, label: false, as: :ckeditor, input_html: {toolbar: 'Full'} %>
  </div>
</fieldset>
<fieldset>
  <div class="fieldset-help">
    <legend>SEO</legend>
    <p class="hint">
      The excerpt and keywords will be included as &lt;meta&gt; description and keywords tags, useful for search engines.
    </p>
  </div>
  <div class="fieldset-fields">
    <%= f.input :excerpt, as: :text, label: 'Excerpt/Description', input_html: {rows: 3}, hint: "Describe in a short paragraph what this page is about." %>
    <%= f.input :keyword_list, as: :text, label: 'Keywords', hint: "Comma-separated list of keywords, e.g. spiderman, superman, comics, superhero.", input_html: {class: 'js-taggable', row: 1} %>
  </div>
</fieldset>
<fieldset>
  <div class="fieldset-help">
    <legend>Featured Image</legend>
  </div>
  <div class="fieldset-fields">
    <%= choose_image_tag(@content, target: 'revision_content_image', input: f.hidden_field(:image_id)) %>
  </div>
</fieldset>