<fieldset>
  <div class="fieldset-help">
    <legend>Page Content</legend>
  </div>
  <%= f.input :title %>
  <%= f.input :text, label: 'Content', as: :ckeditor, input_html: {toolbar: 'Full'} %>
</fieldset>
<fieldset>
  <div class="fieldset-help">
    <legend>SEO</legend>
  </div>
  <%= f.input :excerpt, as: :text, label: 'Excerpt/Description', input_html: {rows: 3}, hint: "Describe in a short paragraph what this page is about. Try not to go over 225 characters. #{icon_tag('info-sign')} The excerpt will be included as a &lsaquo;meta&rsaquo; description tag, useful for search engines." %>
  <%= f.input :keyword_list, label: 'Keywords', hint: "Comma-separated list of keywords, e.g. spiderman, superman, comics, superhero. #{icon_tag('info-sign')} The keywords will be included as a &lsaquo;meta&rsaquo; keywords tag, useful for search engines.", input_html: {class: 'js-token-input', 'data-token' => 'keywords'} %>
</fieldset>
<fieldset>
  <legend>Featured Image</legend>
  <div class="fieldset-help">
  </div>
  <%= f.hidden_field :image_id, data: {'featured-image' => 'input'} %>
</fieldset>