<div class="slide">
  <%= f.hidden_field :id %>
  <%= link_to_close %>
  <div class="slide-image">
    <div id="revision_slide_content_image" class='media-featured'>
      <div class='media-image'>
        <% if f.object.image and f.object.image.url.present? %>
          <%= image_tag f.object.image.url %>
        <% else -%>
          <%= image_tag 'http://lorempixel.com/160/120/cats/', alt: '' %>
        <% end -%>
      </div>
      <%= f.hidden_field :image_id %>
    </div>
    <%= link_to 'Choose Image', '#media_library', class: 'btn-primary js-modal js-media-library', data: {media: '#revision_slide_content_image'} %>
  </div>
  <div class="slide-text">
    <%= f.input :text, label: 'Content', input_html: {rows: 6} %>
  </div>
</div>