<div class="control-group input-horizontal">
  <label><%= ui_section.name %></label>
  <div class="widgets js-nested-widgets" data-ui-section="<%= ui_section.id %>" data-revision="<%= @revision.id %>">
    <ul class="nav-list js-sortable">
      <% ui_section.ui_associations.for_revision(@revision).order(:position).each do |ui_association| %>
        <%= widget_portlet_tag(ui_association) %>
      <% end -%>
    </ul>
    <div class="form-group">
      <%= select_tag :widget, widgets_collection, prompt: 'Select a widget', class: 'form-control select-widget' %>
      <%= link_to "#{icon_tag('plus')} Add".html_safe, '#', class: 'btn btn-primary js-add-widget' %>
    </div>
  </div>
</div>