<div class="tab-pane<%= ' active' if locale == current_locale %>" id="<%= locale %>">
  <ul class="nav nav-tabs">
    <li class='active'><a href="#<%= locale %>_content" data-toggle="tab">Content</a></li>
    <li><a href="#<%= locale %>_images" data-toggle="tab">Featured image</a></li>
  </ul>

  <div class="tab-content">

    <div id="<%= locale %>_content" class="tab-pane active">

      <fieldset class='max-length'>

        <div class='form-inputs'>
          <%= f.input :title %>
          <%= f.input :text, as: :ckeditor, label: false, input_html: {toolbar: 'Full'} %>
          <%= f.input :excerpt, as: :text, label: 'Excerpt/Description', input_html: {rows: 3}, hint: 'Describe in a short paragraph what this page is about. Try not to go over 225 characters' %>
          <p class='help-block'><%= icon_tag 'icon-info-sign' %> The excerpt will be included as a &lsaquo;meta&rsaquo; description tag, useful for search engines.</p>
          <%= f.input :keyword_list, label: 'Keywords', hint: 'Comma-separated list of keywords, e.g. spiderman, superman, comics, superhero', input_html: {class: 'input-xxlarge js-token-input', 'data-token' => 'keywords'} %>
          <p class='help-block'>
            <%= icon_tag 'icon-info-sign' %> The keywords will be included as a &lsaquo;meta&rsaquo; keywords tag, useful for search engines.
          </p>
          <%= f.hidden_field :locale %>
        </div>
      </fieldset>

    </div>

    <div id="<%= locale %>_images" class='tab-pane' >
      <%= f.hidden_field :image_id, class: 'js-featured-image' %>
      <div class="gallery">
        <div class="row-fluid">
          <ul class="thumbnails">
            <% Ckeditor::Asset.tagged_with(slug).includes(:tags).each do |photo| %>
            <li class="span3">
              <%= link_to image_tag(photo.url), '#', class: 'thumbnail js-toggle-image', data: {image_id: photo.id} %>
            </li>
            <% end -%>
          </ul>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to 'Cancel', :back, class: 'btn' %>
    </div>
  </div>

</div>