<li id='<%= dom_id(link) %>'>
  <div class="link">
    <span class="handle"><%= icon_tag 'ellipsis-vertical' %></span>
    <div class="link-form">
      <%= f.input :title %>
      <%= f.input :text %>
    </div>
    <% if link.children.any? %>
      <%= link_to '#', class: 'toggle js-expand' do %>
        <%= icon_tag('angle-down') %>
        <%= icon_tag('angle-up hide') %>
      <% end -%>
    <% end -%>
  </div>
  <ol class="<%= 'hide' if link.children.any? %>">
    <%= render link.children %>
  </ol>
</li>