<div class="center-box well">
  <div class="logo">
    <%= image_tag 'georgia/logo_dark.png', alt: '' %>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>

    <%= f.input :email %>
    <%= f.input :password %>

    <div class="form-actions">
      <%= f.submit 'Log In', class: 'btn' %>  
    </div>

  <% end %>
</div>