<div class="login-form">

  <h1 class='login-logo page-header'>Georgia</h1>

  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
      <a class="close" data-dismiss="alert">×</a>
      <%= msg.html_safe %>
    </div>
  <% end %>

  <%= simple_form_for(resource, as: resource_name, url: georgia.user_session_path, html: {class: 'form-horizontal'}) do |f| %>
    <%= f.input :email, placeholder: 'Email', label: false %>
    <%= f.input :password, placeholder: 'Password', label: false %>
    <%= f.submit 'Log In', class: 'btn' %>
  <% end %>
</div>