<header class='header-main'>
  <div class="header-gutter">
    <h1>Search</h1>
  </div>
  <div class="header-title">
    <%= link_to "#{icon_tag('copy')} Copy".html_safe, '#', class: 'btn btn-warning disabled', role: 'button' %>
    <%= link_to "#{icon_tag('thumbs-down')} Unpublish".html_safe, '#', class: 'btn btn-warning disabled', role: 'button' %>
    <%= link_to "#{icon_tag('trash-o')} Delete".html_safe, '#', class: 'btn btn-danger disabled js-delete', role: 'button' %>
  </div>
  <div class="header-actions">
    <%= link_to "#{icon_tag('plus')} Add new".html_safe, '#page_form', class: 'js-modal btn btn-primary' %>
  </div>
</header>

<%= content_for :footer do %>
  <%= render 'georgia/shared/forms/page' %>
<% end -%>