<fieldset>
  <legend>Site Hierarchy</legend>
  <div class="row-fluid">
    <div class="span6">
      <h3 class='page-header'>Parent Section</h3>
      <%= f.input :parent_id, collection: Georgia::Page.scoped.decorate.map{|p| [p.title, p.id]}, label: false, hint: "Leave empty if the page doesn't belong to any section." %>
    </div>
    <div class="span6">
      <h3 class='page-header'>Subpages</h3>
      <p>
        Move the pages around to change their display position.
      </p>
      <% if @page.persisted? and @page.children.any? %>
      <ul id="subpages" class="nav nav-stacked ui-sortable" data-sort-url="<%= sort_pages_url %>">
        <% @page.children.ordered.decorate.each do |page| %>
        <%= content_tag_for(:li, page) do %>
        <%= icon_tag 'icon-align-justify' %>
        <h5><%= page.title %> <small><%= page.url %></small></h5>
        <% end -%>
        <% end -%>
      </ul>
      <% else -%>
      <p class='help-block'>There are no subpages for this page.</p>
      <% end -%>
      <p class='help-block'>To include a subpage, go to the desired page and add a parent section.</p>
    </div>
  </div>
</fieldset>

<div class="form-actions">
  <%= f.submit nil, class: 'btn btn-primary' %>
  <%= link_to 'Cancel', pages_url, class: 'btn' %>
</div>