<div id='new_page' class="modal hide fade">
  <%= simple_form_for @page, as: :page, remote: true, html: {class: 'form-vertical'} do |f| %>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>New <%= instance_name.titleize %></h3>
  </div>

  <div class="modal-body">
    <%= f.simple_fields_for :contents do |c| %>
    <%= c.input :locale, as: :hidden %>
    <%= c.input :title, autofocus: true %>
    <% end -%>
  </div>

  <div class="modal-footer">
    <%= link_to 'Cancel', '#', class: 'btn',  data: {dismiss: 'modal'} %>
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  </div>
  <% end -%>
</div>
