<tr class="page state-<%= page.state %> js-toggle-revisions" data-page-id="<%= page.id %>">
  <td>
    <%= page.title %>
  </td>
  <td>
    <%= page.template %>
  </td>
  <td>
    <%= page.url %>
  </td>
  <td>
    <%= page.tag_list %>
  </td>
  <td class="labels">
    <%= page.status_tag %>
  </td>
  <td class="labels">
    <span class="badge badge-info">
      <%= page.publisher.drafts.count %>
    </span>
  </td>
  <td class="labels">
    <span class="badge badge-info">
      <%= page.publisher.reviews.count %>
    </span>
  </td>
  <td class="labels">
    <span class="badge badge-info">
      <%= page.publisher.revisions.count %>
    </span>
  </td>
  <td class="actions">
    <%= Georgia::EditMetaPageButton.new(self, page, publish: can?(:publish, page), delete: can?(:delete, page), copy: can?(:copy, page), preview: can?(:preview, page)).render if can? :edit, page %>
  </td>
</tr>

<% if page.publisher.reviews.any? %>
  <% page.publisher.reviews.each do |review| %>
    <tr class='hide review' data-page-id="<%= page.id %>">
      <td>
        <%= icon_tag 'icon-long-arrow-right' %>
        <span class="label label-warning">In Review</span>
      </td>
      <td colspan='7'>
        Last updated <%= review.updated_at.strftime('%F - %H:%M') %> by <%= review.created_by.name %>
      </td>
      <td class='actions'>
        <%= Georgia::EditPageButton.new(self, review, publish: (can?(:publish, review)), delete: (can?(:delete, review)), preview: (can?(:preview, review))).render %>
      </td>
    </tr>
  <% end -%>
<% end -%>

<% if page.publisher.drafts.any? %>
  <% page.publisher.drafts.each do |draft| %>
    <tr class='hide draft' data-page-id="<%= page.id %>">
      <td>
        <%= icon_tag 'icon-long-arrow-right' %>
        <span class="label label-info">Draft</span>
      </td>
      <td colspan='7'>
        Last updated <%= draft.updated_at.strftime('%F - %H:%M') %> by <%= draft.created_by.name %>
      </td>
      <td class='actions'>
        <%= Georgia::EditPageButton.new(self, draft, review: (can?(:review, draft)), delete: (can?(:delete, draft)), copy: (can?(:copy, draft)), preview: (can?(:preview, draft))).render %>
      </td>
    </tr>
  <% end -%>
<% end -%>

<tr class='hide' data-page-id="<%= page.id %>">
  <td colspan='9'>
    <%= icon_tag 'icon-long-arrow-right' %> <%= link_to_draft page %>
  </td>
</tr>