<tr class="page state-<%= page.public? ? 'published' : 'unpublished' %>" data-page-id="<%= page.id %>">
  <td>
    <%= page.title %>
  </td>
  <td>
    <%= page.template %>
  </td>
  <td>
    <%= page.url %>
  </td>
  <td>
    <%= page.tag_list %>
  </td>
  <td class="labels">
    <%= page.state_icon %>
  </td>
  <td>
    <em>updated <%= time_ago_in_words page.updated_at %> ago</em>
  </td>
  <td class="actions">
    <%= Georgia::EditPageButton.new(self, page).render if can? :edit, page %>
  </td>
</tr>