<tr id='<%= dom_id(page) %>' class="page">
  <td class='checkbox'>
    <%= checkboxable_tag page %>
  </td>
  <td>
    <b><%= link_to page.title, [:edit, page] %></b>
  </td>
  <td>
    <%= page_tag_list(page) %>
    <span class='muted'><%= page.url %></span>
  </td>
  <td>
    <%= page.template %>
  </td>
  <td class='timestamp'>
    <em><%= page.updated_at.strftime('%F') %></em>
  </td>
</tr>