<tr id='<%= dom_id(page) %>' class="page <%= page.publish_state %>">
  <td class='checkbox-cell'>
    <%= checkboxable_tag page %>
  </td>
  <td>
    <%= icon_tag 'pencil hide pull-right muted' %>
    <%= link_to page.title, [:edit, page], class: 'page-title js-toggle-icon' %>
  </td>
  <td>
    <%= facet_tag_list(page) %>
    <small><%= page.url %></small>
  </td>
  <td class='nowrap'>
    <%= page.template %>
  </td>
  <td class='timestamp'>
    <em><%= page.updated_at.strftime('%F') %></em>
  </td>
</tr>