<tr class="page">
  <td>
    <%= check_box_tag :selected %>
  </td>
  <td>
    <%= page.tag_list %>
    <%= link_to page.title, [:edit, page] %>
    <small><%= page.url %></small>
  </td>
  <td>
    <em><%= page.updated_at.strftime('%F') %></em>
  </td>
</tr>