<div class='row-fluid'>
  <div class='span8'>
    <% @page.revision_records.each do |revision| %>
    <% revision = Georgia::RevisionDecorator.decorate(revision) %>
    <div id='revision_<%= revision.id %>' class="revision<%= ' current' if revision.current? @page %>">
      <div class='row-fluid'>
        <div class='span2'>
          <% if revision.current? @page %>
          <%= icon_tag('icon-flag') %> [current]
          <% end -%>
        </div>
        <div class='span1'>
          <span class='number'><%= revision.revision %></span>
        </div>
        <div class='span9'>
          <div class='row-fluid'>
            <div class='span12'>
              <div class="pull-right">
                <%#= link_to_preview_revision @page, revision, class: 'btn' %>
                <%= link_to_revert revision %>
              </div>
              <%= revision.created_at(format: :long) %>
            </div>
          </div>
          <div class='row-fluid'>
            <div class='span12'>
              <em><%= revision.changed_at %> ago by <strong><%= revision.changed_by %></strong></em>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end -%>
  </div>
</div>