<%= content_for :ujs do %>
<%= render 'georgia/pages/new' %>
<% end -%>

<div class="row-fluid">
  <div class="span2">
    <%= render 'georgia/pages/facets' %>
  </div>
  <div class="span10">

    <%= render 'georgia/pages/header' %>

    <table class="table table-hover">
      <thead>
        <th class='nowrap'><%= sortable 'title' %></th>
        <th class='nowrap'><%= sortable 'template' %></th>
        <th class='nowrap'><%= sortable 'url', 'URL' %></th>
        <th class='nowrap'><%= sortable 'tags' %></th>
        <th class='nowrap'><%= sortable 'status_name', 'Status' %></th>
        <th></th>
      </thead>
      <tbody>
        <% if @pages and @pages.any? %>
          <% @pages.each do |page| %>
            <%= render "georgia/pages/page", page: Georgia::PageDecorator.decorate(page) %>
          <% end %>
        <% else %>
        <tr>
          <td colspan="6">
            There are currently no <%= instance_name.pluralize %>.
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @search.hits %>
  </div>
</div>
