<%= render 'header' %>

<section class="body-main">

  <table class="table-results js-checkboxable">
    <thead>
      <th class='checkbox'>
        <%= checkboxable_all_tag :pages %>
      </th>
      <th>Title</th>
      <th colspan='3'>
        <%= pagination_tag(self, @search) %>
      </th>
    </thead>
    <tbody>
      <% if @pages and @pages.any? %>
        <%= render partial: 'georgia/pages/page', collection: @pages, as: :page %>
      <% else %>
        <tr>
          <td colspan="6">
            There are currently no <%= instance_name.pluralize %>.
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>