<%= render 'header' %>
<section class="body-main">

  <table class="table-results js-checkboxable">
    <thead>
      <th class='checkbox'>
        <%= check_box_tag :pages, nil, false, data: {checkbox: 'all', state: 'uncheck'} %>
      </th>
      <th>Title</th>
      <th colspan='3'>
      <% if @search %>
        <div class="header-pagination">
          <span class='pagination-count'><%= search_count(@search) %></span>
          <%= link_to_previous_page @search.hits, icon_tag('chevron-left') %>
          <%= link_to_next_page @search.hits, icon_tag('chevron-right') %>
        </div>
      <% end -%>
      </th>
    </thead>
    <tbody>
      <% if @pages and @pages.any? %>
        <%= render partial: 'georgia/pages/page', collection: @pages, as: :page %>
      <% else %>
        <tr>
          <td colspan="6">
            There are currently no <%= instance_name.pluralize %>.
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>