<%= content_for :ujs do %>
<%= render 'new' %>
<% end -%>

<div class="row-fluid">
  <div class="span2">
    <%= render 'facets' %>
  </div>
  <div class="span10">

    <%= render 'header' %>

    <table class="table table-hover">
      <thead>
        <th class='nowrap'><%= sortable 'title' %></th>
        <th class='nowrap'><%= sortable 'template' %></th>
        <th class='nowrap'><%= sortable 'url', 'URL' %></th>
        <th class='nowrap'><%= sortable 'tags' %></th>
        <th class='nowrap'><%= sortable 'status_name', 'Status' %></th>
        <th></th>
      </thead>
      <tbody>
        <% if @pages and @pages.any? %>
        <%= render @pages %>
        <% else %>
        <tr>
          <td colspan="6">
            There are currently no pages. <%= link_to 'Create a new one', '#new_page', class: 'js-new-page', data: {toggle: 'modal'} %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @search.hits %>
  </div>
</div>