<%= render 'header' %>

<section class="body-main">

  <%= active_facet_list(:tg) %>

  <% if @pages and @pages.any? %>
    <table class="table table-hover table-results pages js-checkboxable">
      <thead>
        <th class='checkbox-cell'>
          <%= checkboxable_all_tag :pages %>
        </th>
        <th>
          <%= link_to "#{icon_tag('copy')} Copy".html_safe, '#', class: 'btn btn-warning btn-xs disabled', role: 'button' %>
          <%= link_to "#{icon_tag('thumbs-up')} Publish".html_safe, '#', class: 'btn btn-warning btn-xs disabled', role: 'button' %>
          <%= link_to "#{icon_tag('thumbs-down')} Unpublish".html_safe, '#', class: 'btn btn-warning btn-xs disabled', role: 'button' %>
          <%= link_to "#{icon_tag('trash-o')} Delete".html_safe, '#', class: 'btn btn-danger btn-xs disabled js-delete', role: 'button' %>
        </th>
        <th colspan='3'>
          <%= pagination_tag(self, @search) %>
        </th>
      </thead>
      <tbody>
        <%= render partial: 'georgia/pages/page', collection: @pages, as: :page %>
      </tbody>
    </table>
  <% else -%>
    <h2>Yikes! There are <%= pluralize(0, instance_name.humanize.downcase) %>.</h2>
    <%= link_to "Get Started", '#', class: 'btn btn-primary btn--jumbo', data: {toggle: 'modal', target: '#page_form'} %>
  <% end -%>

</section>