<%= content_for :ujs do %>
  <%= render 'georgia/pages/new' %>
<% end -%>

<%= render 'header' %>
<section class="body-main">

  <table class="table-results">
    <tbody>
      <% if @pages and @pages.any? %>
        <% @pages.each do |page| %>
          <tr class="page">
            <td class='checkbox'>
              <%= check_box_tag :selected %>
            </td>
            <td>
              <% page.tag_list.each do |tag| %>
                <span class='tag'><%= tag %> <%= icon_tag 'remove' %></span>
              <% end -%>
              <%= link_to page.title, [:edit, page] %>
              <small><%= page.url %></small>
            </td>
            <td class='timestamp'>
              <em><%= page.updated_at.strftime('%F') %></em>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="6">
            There are currently no <%= instance_name.pluralize %>.
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>