<%= content_for :messages do %>
<%= render 'georgia/shared/messages', model: @page %>
<% end %>

<h1 class="page-header">
  <%= @page.status_tag(class: 'label-big') %>
  <%= @page.title %>
  <small>
    <% if @page.published? %>
      <%= link_to @page.url, @page.url, target: '_blank' %>
    <% else -%>
      <%= @page.url %>
    <% end -%>
  </small>
</h1>

<div id='edit_page_panel'>
  <div class="row-fluid">
    <div class="span2">
      <div class="well">
        <ul class="nav nav-list">
          <li class="nav-header">Actions</li>
          <%= Georgia::EditPageActionList.new(self, @page).render %>
        </ul>
      </div>
    </div>
    <div class="span10">
      <div class="row-fluid">
        <div class="span4">
          <h3 class='page-header'>Drafts</h3>
          <% if @page.revisions.drafts.any? %>
            <% @page.revisions.drafts.find_each do |draft| %>
              <h5>
                <%= link_to 'edit', [:edit, @page.model, draft], class: 'pull-right' %>
                <span class="muted">#<%= draft.id %></span>
                <%= draft.title %> - <small>updated <%= time_ago_in_words draft.updated_at %> ago</small>
              </h5>
            <% end -%>
          <% else -%>
            <p class='muted'>There are no drafts so far. <%= link_to 'Start one', url_for(controller: controller_name, action: :draft, id: @page.model.to_param) %></p>
          <% end -%>
          <hr />
          <%= link_to "#{icon_tag 'icon-paste'} Start a new draft".html_safe, url_for(controller: controller_name, action: :draft, id: @page.model.to_param), class: 'btn btn-primary' %>
        </div>
        <div class="span4">
          <h3 class='page-header'>In Review</h3>
          <% if @page.revisions.reviews.any? %>
            <% @page.revisions.reviews.find_each do |review| %>
              <h5>
                <%= link_to 'edit', [:edit, @page.model, review], class: 'pull-right' %>
                <span class="muted">#<%= review.id %></span>
                <%= review.title %> - <small>updated <%= time_ago_in_words review.updated_at %> ago</small>
              </h5>
            <% end -%>
          <% else -%>
            <p class='muted'>There is nothing to review at the moment.</p>
          <% end -%>
        </div>
        <div class="span4">
          <h3 class='page-header'>Revisions</h3>
          <% if @page.revisions.stored.any? %>
            <% @page.revisions.stored.find_each do |revision| %>
              <h5>
                <%= link_to 'preview', main_app.preview_page_path(revision), class: 'pull-right', target: '_blank' %>
                <span class="muted">#<%= revision.id %></span>
                <%= revision.title %> - <small>stored <%= time_ago_in_words revision.updated_at %> ago</small>
              </h5>
            <% end -%>
          <% else -%>
            <p class='muted'>There are no revisions yet.</p>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>