<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pending Review</h3>
  </div>
  <div class="panel-body">
    <% if @awaiting_revisions and @awaiting_revisions.any? %>
      <ul class="media-list">
        <% @awaiting_revisions.each do |revision| %>
          <li class="media">
            <%= image_tag(avatar_url(revision.user.try(:email)), alt: '', class: 'media-object pull-left') %>
            <div class="media-body">
              <h4 class="media-heading">
                <%= revision.title %>
                <%= link_to 'Review', [:edit, revision.revisionable, revision], class: 'pull-right btn btn-default btn-xs' %>
              </h4>
              <%= truncate(strip_tags(revision.text), length: 120, separator: ' ') %>
            </div>
          </li>
        <% end -%>
      </ul>
    <% else -%>
      <h5>Good Job! Nothing to review.</h5>
    <% end -%>
  </div>
  <div class="panel-footer text-center">
    <%= link_to 'show all revisions', [@page, :revisions] %>
  </div>
</div>