<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Information</h3></div>
  <div class="panel-body">
    <table class='table'>
      <tr>
        <td>Revised by</td>
        <td><%= image_tag avatar_url(@revision.user.try(:email)), alt: '' %> <%= @revision.user.try(:name) %></td>
      </tr>
      <tr>
        <td>Status</td>
        <td><span class="label label-<%= @revision.status %>"><%= @revision.status %></span></td>
      </tr>
      <tr>
        <td>Visibility</td>
        <td><span class="label label-<%= @revision.visibility %>"><%= @revision.visibility %></span></td>
      </tr>
      <tr>
        <td>Created</td>
        <td><%= l @revision.created_at, format: :long %></td>
      </tr>
      <tr>
        <td>Last updated</td>
        <td>About <%= time_ago_in_words(@revision.updated_at) %> ago</td>
      </tr>
      <% if policy(@page).publish? or policy(@page).unpublish? %>
        <tr>
          <td colspan="2">
            <% if @page.public? %>
              <%= link_to "#{icon_tag('thumbs-down')} Unpublish".html_safe, unpublish_pages_path(id: [@page.id]), data: {confirm: 'Are you sure?'}, method: :post, class: 'btn btn-danger' %>
            <% else %>
              <%= link_to "#{icon_tag('thumbs-up')} Publish".html_safe, publish_pages_path(id: [@page.id]), method: :post, class: 'btn btn-success' %>
            <% end -%>
            <%= link_to("#{icon_tag('trash-o')} Move to Trash".html_safe, @page, data: {confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-link text-danger pull-right') if policy(@page).destroy? %>
          </td>
        </tr>
      <% end -%>
    </table>
  </div>
</div>