<fieldset>
  <div class="fieldset-help">
    <legend><%= icon_tag('user') %> Profile</legend>
  </div>
  <div class="fieldset-fields">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
  </div>
</fieldset>
<fieldset>
  <div class="fieldset-help">
    <legend><%= icon_tag('lock') %> Security</legend>
  </div>
  <div class="fieldset-fields">
    <%= f.input :password, hint: "(leave blank if you don't want to change it)" %>
    <%= f.input :password_confirmation, label: 'Confirm' %>
  </div>
</fieldset>
<fieldset>
  <div class="fieldset-help">
    <legend>Role</legend>
    <p class="hint">
      <%= icon_tag('info-circle') %>
      Users have different abilities depending on the access level (role) they are granted.
      <%= link_to 'Learn more', permissions_users_path %>
    </p>
  </div>
  <div class="fieldset-fields">
    <%= f.association :role, label: false %>
  </div>
</fieldset>
<fieldset>
  <div class="fieldset-help">
    <legend>Notifications</legend>
  </div>
  <div class="fieldset-fields">
    <label class='checkbox'>
      <%= f.check_box :receives_notifications, class: 'boolean optional form-control' %> Will receive email notifications and reminders from Georgia CMS
    </label>
  </div>
</fieldset>