<tr>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.email %></td>
  <td><%= user.pretty_created_at %></td>
  <td><%= user.roles_names %></td>
  <td class='actions'>
    <%= link_to_group_edit user, delete: true %>
  </td>
</tr>