<header class='header-main'>
  <div class="header-gutter">
    <%= link_to_back users_path %>
  </div>
  <div class="header-title">
    <h1>User Permissions</h1>
  </div>
  <div class="header-actions">
    <%= link_to "#{icon_tag 'plus'} Add User".html_safe, new_user_path, class: 'btn btn-primary' %>
  </div>
</header>

<section class="body-main">
  <h2>Content</h2>
  <table class="table table-results">
    <thead>
      <tr>
        <th>Action</th>
        <th class='role'>Guest</th>
        <th class='role'>Contributor</th>
        <th class='role'>Editor</th>
        <th class='role'>Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Show pages</td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
      <tr>
        <td>Create pages</td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
      <tr>
        <td>Update pages</td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='warning text-center' title='Only their own'><%= icon_tag('minus') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
      <tr>
        <td>Delete pages</td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='warning text-center' title='Only their own'><%= icon_tag('minus') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
      <tr>
        <td>Preview pages</td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
      <tr>
        <td>Copy pages</td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
      <tr>
        <td>Publish pages</td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
      <tr>
        <td>Unpublish pages</td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
      <tr>
        <td>Manage widgets</td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
    </tbody>
  </table>
  <h2>Media Library</h2>
  <table class="table table-results">
    <thead>
      <tr>
        <th>Action</th>
        <th class='role'>Guest</th>
        <th class='role'>Contributor</th>
        <th class='role'>Editor</th>
        <th class='role'>Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Show media assets</td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
      <tr>
        <td>Upload media assets</td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
      <tr>
        <td>Update media assets</td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='warning text-center' title='Only their own'><%= icon_tag('minus') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
      <tr>
        <td>Delete media assets</td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='warning text-center' title='Only their own'><%= icon_tag('minus') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
    </tbody>
  </table>
  <h2>Navigation</h2>
  <table class="table table-results">
    <thead>
      <tr>
        <th>Action</th>
        <th class='role'>Guest</th>
        <th class='role'>Contributor</th>
        <th class='role'>Editor</th>
        <th class='role'>Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Show menus</td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
      <tr>
        <td>Create menus</td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
      <tr>
        <td>Update menus</td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
      <tr>
        <td>Delete menus</td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
    </tbody>
  </table>
  <h2>Users</h2>
  <table class="table table-results">
    <thead>
      <tr>
        <th>Action</th>
        <th class='role'>Guest</th>
        <th class='role'>Contributor</th>
        <th class='role'>Editor</th>
        <th class='role'>Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Show users</td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
      <tr>
        <td>Create users</td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
      <tr>
        <td>Update users</td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
      <tr>
        <td>Delete users</td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='danger text-center'><%= icon_tag('times') %></td>
        <td class='success text-center'><%= icon_tag('check') %></td>
      </tr>
    </tbody>
  </table>
</section>