<% if picture and picture.data.file.exists? %>
<%= content_tag(:li, id: dom_id(picture), class: "gal-item span3", data: {url: picture.url_content}) do %>
<%= link_to image_tag("ckeditor/filebrowser/images/gal_del.png", title: 'delete'), media_path(picture), method: :delete, data: {confirm: 'Are you sure you want to delete this picture?'}, remote: true, class: "fileupload-cancel gal-del" if can? :destroy, Ckeditor::Asset %>
<div class="fileupload-file gal-inner-holder">
  <div class="img">
    <%= link_to image_tag(picture.url(:big_thumb), title: (picture.filename || picture.data.file.filename)), picture.url_content, rel: 'shadowbox[gallery]' %>
  </div>
  <div class="img-data">
    <div class="img-name">
      <%= picture.filename || picture.data.file.filename %>
    </div>
    <div class="picture-size">
      <%= picture.width %> x <%= picture.height %>
    </div>
    <div class="time-size">
      <div class="created-at"><%= picture.format_created_at %></div>
      <div class="fileupload-size size"><%= number_to_human_size(picture.try(:size)) %></div>
    </div>

    <div class='list-tags'>
      <%= simple_form_for picture, url: media_path(picture), html: {class: 'form-vertical', data: {'picture-id' => picture.id}}, remote: true do |f| %>
      <%= f.input :tag_list, label: false, input_html: {class: 'input-large js-token-input', data: {load: picture.tags.map{|t| {id: t.id, text: t.name} }}} %>
      <% end %>
    </div>
  </div>

</div>
<% end %>
<% end %>