<tr id='asset_<%= picture.id %>' class='asset'>
  <td class='checkbox-cell'>
    <%= checkboxable_tag picture %>
  </td>
  <td class='thumbnail-cell'>
    <%= link_to picture.url_content, class: 'media-link bg-transparent', rel: 'shadowbox[gallery]' do %>
      <%= image_tag picture.url(:tiny), title: picture.data_file_name, class: 'media-image' %>
    <% end %>
  </td>
  <td>
    <% picture.tag_list.each do |tag| %>
    <span class='tag'><%= tag %> <%= icon_tag 'remove' %></span>
    <% end -%>
    <%= link_to picture.filename, edit_media_path(picture) %>
  </td>
  <td class='small'>
    <%= number_to_human_size(picture.data_file_size) %>
  </td>
  <td class='small'>
    <%= picture.width %>x<%= picture.height %>
  </td>
  <td class='tiny'>
    <span class="tag"><%= picture.contents_count %></span>
  </td>
  <td class='timestamp'>
    <em><%= picture.updated_at.strftime('%F') %></em>
  </td>
</tr>