<h1 class='page-header'>
  <div class='row-fluid'>
    <div class='span3'>Media Library</div>
    <div class="span8">
      <div class="pull-right">
        <%= link_to "#{icon_tag 'icon-fire'} Purge All Images".html_safe, destroy_all_media_index_url, class: 'btn btn-danger', method: :delete, confirm: 'This will erase ALL images! Are you sure?' %>
      </div>
    </div>
  </div>
</h1>

<div class='row-fluid'>
  <div class='span3'>
    <%= form_for @asset, url: media_index_url, html: {multiple: true} do |f| %>
    <span class="btn btn-success fileinput-button">
      <i class="icon-plus icon-white"></i>
      <span>Add files...</span>
      <input type="file" name="picture[data]" multiple="">
    </span>
    <% end %>
    <div id="tags">
      <div id="scrollable-sections-top-shadow"></div>
      <%= render 'tags' %>
    </div>
    <div id="scrollable-sections-bottom-shadow"></div>
  </div>
  <div class='span9'>
    <div class="row-fluid">
      <%= paginate @assets %>
      <ul id='pictures' class='gal-holder thumbnails'>
        <%= render @assets %>
      </ul>
      <%= paginate @assets %>
    </div>
  </div>
</div>

<%= content_for :ujs do %>
<script type="text/javascript">$("a[rel='lightbox']").lightBox()</script>
<script id="template-upload" type="text/x-tmpl">
<div id="{%=o.size%}" class="upload">
{%=o.name%}
<div class="progress progress-striped active">
<div class="bar" style="width: 0%"></div>
</div>
</div>
</script>
<% end -%>

<%= content_for :ujs do %>

<% end -%>