<h1 class='page-header'>Media Library</h1>

<div class='row-fluid'>
  <div class='span2'>
    <%= simple_form_for @asset, url: media_index_url do |f| %>
    <%= f.input :data, label: false, input_html: {multiple: true, name: 'picture[data]'} %>
    <%= f.button :submit, 'Add Picture' %>
    <% end %>
  </div>
  <div class='span10'>
    <div id='pictures' class='gal-holder'>
      <%= render partial: 'georgia/ckeditor/pictures/picture', collection: @assets %>
    </div>
  </div>
</div>

<%= content_for :ujs do %>
<script type="text/javascript">$("a[rel='lightbox']").lightBox()</script>
<script id="template-upload" type="text/x-tmpl">
<div class="upload">
{%=o.name%}
<div class="progress progress-success progress-striped active"><div class="bar" style="width: 0%"></div></div>
</div>
</script>
<% end -%>