
<%= render 'header' %>

<section class="body-main">

  <table class="table-results js-checkboxable">
    <thead>
      <th class='checkbox'>
        <%= checkboxable_all_tag :assets %>
      </th>
      <th colspan='7'>
      <% if @search %>
        <div class="header-pagination">
          <span class='pagination-count'><%= search_count(@search) %></span>
          <%= link_to_previous_page @search.hits, icon_tag('chevron-left') %>
          <%= link_to_next_page @search.hits, icon_tag('chevron-right') %>
        </div>
      <% end -%>
      </th>
    </thead>
    <tbody>
      <% if @assets and @assets.any? %>
        <%= render @assets %>
      <% else %>
        <tr>
          <td colspan="6">
            There are currently no assets.
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>