<%= content_for :messages do %>
<%= render 'georgia/shared/messages', model: @page %>
<% end %>

<%= simple_form_for @menu, html: {class: 'form-vertical'} do |f| %>

<div class='form-inputs'>

  <div class='row-fluid'>

    <div class='span6'>
      <legend>Available Pages</legend>
      <div id='inactive' class="column" data-update-url="<%= deactivate_menu_items_url %>">
        <% if @inactive_items.any? %>
        <%= render @inactive_items %>
        <% else -%>
        <p class='help-block'>
          There are currently no available pages to add to your menu.
        </p>
        <% end -%>
      </div>
    </div>

    <div class='span6'>
      <legend>Your Navigation Menu</legend>
      <div id='active' class="column" data-update-url="<%= activate_menu_items_url %>">
        <% if @active_items.any? %>
        <%= render @active_items %>
        <% else -%>
        <p class='help-block'>
          There are currently no available pages added to your menu.
        </p>
        <% end -%>
      </div>
    </div>

  </div>
</div>

<div class="form-actions">
  <%= link_to 'Cancel', menus_url, class: 'btn' %>
</div>

<% end %>