<%= content_for :messages do %>
<%= render 'georgia/shared/messages', model: @menu %>
<% end %>

<div id='menu_panel' data-menu-id='<%= @menu.id %>' data-locales='<%= I18n.available_locales.join(',') %>'>
  Loading ...
</div>

<%= content_for :ujs do %>
<script type="text/javascript">
$(function() { Georgia.initMenuPanel(); });
</script>
<% end -%>