<%= simple_form_for @menu, remote: true do |f| %>
  <%= hidden_field_tag "menu[ancestry]", nil, class: 'js-menu-ancestry' %>
  <header class='header-main'>
    <%= link_to_back menus_path %>
    <h1 class='header-title'><%= icon_tag 'link' %> <%= @menu.name %></h1>
    <div class="header-actions">
      <%= button_to_save %>
    </div>
  </header>

  <section class="body-main">
    <fieldset>
      <div class="fieldset-help">
        <legend>Links</legend>
        <p class='hint'>
          <%= link_to "#{icon_tag 'plus'} Add new".html_safe, '#', class: 'btn js-add-link' %>
        </p>
      </div>
      <div class="fieldset-fields control-group">
        <% if @links and @links.any? %>
          <ol class="links js-nested-sortable">
            <% @links.each do |link| %>
              <%= link_portlet_tag(link) %>
            <% end -%>
          </ol>
        <% else %>
          <ol class="links js-nested-sortable"></ol>
          <p class='blank-state'>There are currently no navigation links. <%= link_to 'Create a new one', '#', class: 'js-add-link' %></p>
        <% end %>
      </div>
    </fieldset>

  </section>
<% end -%>