<%= render 'header' %>

<section class="body-main">

  <fieldset>
    <div class="fieldset-help">
      <legend>Menus</legend>
      <p class="hint">
        Link lists help your visitors navigate around your website.
      </p>
      <p>
        <%= link_to "#{icon_tag 'plus'} Add new".html_safe, '#', class: 'btn' %>
      </p>
    </div>
    <div class="fieldset-fields">
      <% if @menus and @menus.any? %>
        <%= render @menus %>
      <% else %>
        <p>There are currently no navigation menus. <%= link_to 'Create a new one', new_menu_url %></p>
      <% end %>
    </div>
  </fieldset>

</section>

<%= link_to "#{icon_tag 'plus-sign'} Add Menu".html_safe, new_menu_url, class: 'btn btn-primary' %>


<%= content_for :ujs do %>
<script type="text/javascript">
$(function() { Georgia.initMenuPanel(); });
</script>
<% end -%>