<header id="header">

  <div class="header-logo">
    <%= link_to image_tag('georgia/logo.png', alt: 'Georgia'), main_app.root_url %>
  </div>

  <% if signed_in? %>
    <div class="header-search-form">
      <%= form_for :search, url: url_for(controller: 'pages', action: "search"), method: :get do |f| %>
        <%= facets_inputs([:tg]) %>
        <%= hidden_field_tag :s, params[:s] if params[:s] %>
        <%= hidden_field_tag :t, params[:t] if params[:t] %>
        <%= text_field_tag :query, params[:query], class: 'input-search' %>
        <button class="btn">
          <%= icon_tag('search') %>
        </button>
      <% end -%>
    </div>

    <div class="header-profile">
      <ul class="nav">
        <li>
          <%= icon_tag('envelope-alt') %>
        </li>
        <li>
          <%= image_tag avatar_url(current_user), alt: '' %>
          <%= link_to "#{current_user.email} #{icon_tag('caret-down')}".html_safe, '', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' %>
        </li>
      </ul>
    </div>
  <% end -%>
</header>
