<header id="header">

  <div class="header-logo">
    <%= link_to image_tag('georgia/logo.png', alt: 'Georgia'), main_app.root_url %>
  </div>

  <% if signed_in? %>
    <div class="header-search-form">
      <%= form_for :search, url: georgia.search_pages_url, method: :get do |f| %>
        <%= facets_inputs([:tg]) %>
        <%= hidden_field_tag :s, params[:s] if params[:s] %>
        <%= hidden_field_tag :t, params[:t] if params[:t] %>
        <%= text_field_tag :query, params[:query], class: 'input-search' %>
        <button class="btn">
          <%= icon_tag('search') %>
        </button>
      <% end -%>
    </div>

    <div class="header-profile">
      <ul class="nav">
        <li class='mail'>
          <%= link_to icon_tag('envelope'), '#' %>
        </li>
        <li class='user'>
          <%= link_to '', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do %>
            <%= image_tag avatar_url(current_user), alt: '' %>
            <!-- <span class="user-name"><%= current_user.email %></span> -->
            <%= icon_tag('angle-down') %>
          <% end -%>
        </li>
      </ul>
    </div>
  <% end -%>
</header>
