<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="en-US" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= Georgia.title %> CMS</title>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
<%= stylesheet_link_tag    "georgia/application", media: 'all' %>
<%= javascript_include_tag "georgia/application" %>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
<%= csrf_meta_tags %>
<!--[if lt IE 9]>
  <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<%= favicon_link_tag %>
<%= yield :head %>