<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="en-US" />

  <title><%= Rails.application.class.parent_name %> CMS</title>
  <%= stylesheet_link_tag    "georgia/georgia", media: 'all' %>
  <%= javascript_include_tag "georgia/georgia" %>
  <%= csrf_meta_tags %>
  <!--[if IE]><script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%= favicon_link_tag %>
  <%= yield :head %>
</head>
<body id="<%= controller_name %>" class="<%= action_name %>">
  <div class="container-fluid">
    <%= render 'layouts/georgia/messages' %>
    <%= render 'layouts/georgia/header' %>
    <%= yield %>
  </div>
  <%= render 'layouts/georgia/footer' %>
  <%= yield :ujs %>
</body>
</html>