<header class='header-main'>
  <%= link_to icon_tag('thumbs-up-alt'), '#', class: 'btn' %>
  <%= link_to icon_tag('thumbs-down-alt'), '#', class: 'btn' %>
  <%= link_to icon_tag('trash'), '#', class: 'btn' %>
  <div class="btn">
    <%= link_to icon_tag('tags'), '#' %>
    <%= icon_tag('caret-down') %>
  </div>
</header>