<tr>
  <td>
    <%= message.name %>
  </td>
  <td>
    <%= message.email %>
  </td>
  <td>
    <%= message.message %>
  </td>
  <td>
    <%= message.sent_on %>
  </td>
  <td class="actions">
    <%= link_to 'remove', message_path(message), :method => :delete, :confirm => 'Are you sure?' if can? :destroy, Message %>
  </td>
</tr>