<tr id='<%= dom_id(message) %>' class='message'>
  <td class='checkbox'>
    <%= checkboxable_tag message %>
  </td>
  <td><%= message.name %></td>
  <td>
    <span class="subject-message">
      <span class="subject"><%= message.subject_truncated %></span>
      <small class='muted'><%= message.message_truncated %></small>
    </span>
  </td>
  <td><span class="phone"><%= message.phone_or_none %></span></td>
  <td class='tiny'>
    <%= icon_tag('paper-clip') %>
  </td>
  <td class='timestamp--long'>
    <%= message.created_at.strftime('%F %H:%M') %>
  </td>
</tr>