<tr id='<%= dom_id(message) %>' class='message' data-status="<%= message.status %>">
  <td class='checkbox-cell'>
    <%= checkboxable_tag message %>
  </td>
  <td class='message-name'>
    <%= link_to message do %>
      <span><%= message.name %></span>
    <% end -%>
  </td>
  <td class='message-message'>
    <%= link_to message do %>
      <span><%= message.subject_truncated %> <small class='muted'><%= message.message_truncated %></small></span>
    <% end -%>
  </td>
  <td class='message-phone'>
    <%= link_to message do %>
      <span class="phone"><%= message.phone_or_none %></span>
    <% end -%>
  </td>
  <td class='message-attachment'>
    <%= icon_tag('paper-clip') %>
  </td>
  <td class='message-timestamp'>
    <%= message.created_at %>
  </td>
</tr>