<h1 class="page-header">Messages (<%= Georgia::Message.count %>)</h1>

<div class='row-fluid'>
  <div class='span6'>
    <%= paginate @messages %>
  </div>
  <div class='span6'>
    <div class="pull-right">
      <%= render 'georgia/shared/search/messages' %>
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <th><%= sortable 'last_name', 'Name' %></th>
    <th><%= sortable 'email', 'Email' %></th>
    <th><%= sortable 'phone', 'Phone' %></th>
    <th><%= sortable 'subject', 'Subject' %></th>
    <th>Message</th>
    <th><%= sortable 'created_at', 'Sent' %></th>
    <th></th>
  </thead>
  <tbody>
    <% if @messages and @messages.any? %>
    <% @messages.each do |message| %>
    <tr>
      <td>
        <%= message.name %>
      </td>
      <td>
        <%= message.email %>
      </td>
      <td>
        <%= message.phone %>
      </td>
      <td>
        <%= message.subject %>
      </td>
      <td>
        <%= message.description %>
      </td>
      <td>
        <%= message.created_at %>
      </td>
      <td class="actions">
        <%= link_to_group_edit message, delete: true %>
      </td>
    </tr>
    <% end -%>
    <% else %>
    <tr>
      <td colspan="6">
        There are currently no messages.
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @messages %>