<div class="row-fluid">
  <div class="span2">
    <%= render 'georgia/messages/facets' %>
  </div>
  <div class="span10">

    <%= render 'georgia/messages/header' %>

    <table class="table table-hover">
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Subject</th>
        <th>Message</th>
        <th>Sent</th>
        <th></th>
      </thead>
      <tbody>
        <% if @messages and @messages.any? %>
          <% @messages.each do |message| %>
            <tr>
              <td><%= message.name %></td>
              <td><%= message.email %></td>
              <td class='nowrap'><%= message.phone || content_tag(:span, 'no phone', class: 'muted') %></td>
              <td><%= message.subject_truncated || content_tag(:span, 'no subject', class: 'muted') %></td>
              <td><%= message.message_truncated %></td>
              <td class='nowrap'><%= message.created_at.strftime('%F %H:%M') %></td>
              <td class="actions"><%= link_to icon_tag('icon-cog'), [:edit, message], class: 'btn btn-inverse' %></td>
            </tr>
          <% end -%>
        <% else %>
          <tr>
            <td colspan="6">
              There are currently no messages.
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @search.hits %>
  </div>
</div>
